{% extends 'base.html.twig' %}

{% block title %}TypeEmploi{% endblock %}

{% block body %}
    <h1>TypeEmploi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_emploi.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_emploi.Libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_emploi_index') }}">back to list</a>

    <a href="{{ path('app_type_emploi_edit', {'id': type_emploi.id}) }}">edit</a>

    {{ include('Back/employeur/type_emploi/_delete_form.html.twig') }}
{% endblock %}
